[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3.0"
djangorestframework = "*"
pyyaml = ">=4.2b1"
django-social-authsch = "*"
django-taggit = "*"
django-taggit-serializer = "*"
django-softdelete-it = "*"
drf-yasg = "*"
pillow = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"
pycodestyle = "*"
pylint = "*"
django-extensions = "*"
faker = "*"
parameterized = "*"

[requires]
python_version = "3"
