[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyyaml = ">=4.2b1"
django-social-authsch = "*"
pillow = "*"
django-taggit = "*"
django-taggit-serializer = "*"
django-softdelete-it = "*"
psycopg2-binary = "*"
drf-yasg = "*"

[dev-packages]
"flake8" = "*"
pycodestyle = "*"
pylint = "*"
django-extensions = "*"
faker = "*"
graphviz = {version = "*", sys_platform = "!= 'win32'"}
pygraphviz = {version = "*", sys_platform = "!= 'win32'"}
parameterized = "*"

[requires]
python_version = "3"
