[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyyaml = "*"
django-social-authsch = "*"
pillow = "*"
django-taggit = "*"

[dev-packages]
"flake8" = "*"
pycodestyle = "*"
pylint = "*"
django-extensions = "*"
faker = "*"
psycopg2-binary = "*"
graphviz = {version = "*", sys_platform = "!= 'win32'"}
pygraphviz = {version = "*", sys_platform = "!= 'win32'"}

[requires]
python_version = "3"
